#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #b5ad92;
}
body {
    background-color: #fcfbfb;
}
header {
    background-color: #053e61;
}
nav a:hover {
    background-color: #b5ad92;
    color: blue;
}
.book {
    background-color: white;
    color: black;
    text-decoration: none;
} 
.join {
    background-color:  #053e61;
    color: white;
    text-decoration: none;
}
.book:hover, .join.hover {
    background-color: white;
    color: blue;
}
.msg {
    background-color: #053e61;
}
footer {
    background-color: #053e61;
    color: white
}
.home-title {
    color: black;
}
.msg h2 {
    color: white;
}
.msg p {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hoover {
    color: #b5ad92;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}